<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>myproxy</string>
	<key>CFBundleExecutable</key>
	<string>myproxy</string>
	<key>CFBundleIdentifier</key>
	<string>local.harry.myproxy</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>myproxy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.6</string>
	<key>CFBundleVersion</key>
	<string>0.0.6</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>myproxy uses a network system extension to intercept outbound connections and apply your process and routing rules.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2026 leaperone</string>
	<key>SUFeedURL</key>
	<string>https://github.com/leaperone/myproxy/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>fG4NVXVjLnza5nIfEejiVdXtynN99ZaMJOtpp8oKJ40=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
